{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    fantasy football
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form role="form" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='Create League' %}{% endbuttons %}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h3>available leagues:</h3>
        {% for league in leagues %}
        <p><a href="{% url 'view-league' league.id %}">{{ league.name }}</a></p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Upload player file</h3>
        <form enctype="multipart/form-data" role="form" method="post" action="{% url 'upload' %}">
            {% csrf_token %}
            {% bootstrap_form upload %}
            {% buttons submit='Upload' %}{% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}